<!DOCTYPE html>
<html>
<head>
    <title>Scanner Runner</title>
    <meta charset="utf-8">
    <meta content="width=device-width,
				initial-scale=1"
          name="viewport">
    <title>Scanner runner</title>
    <link href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css" rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>
<body>
<div class="columns">
    <div class="column is-one-fifth">
        <br/>
        <div class="box">
            {% include 'leftcol.html' %}
        </div>
    </div>
    <div class="column">
        <br/>
        <div class="box">
            {% block content %}{% endblock %}
        </div>
    </div>
    <div class="column is-one-fifth">
        <br/>
        <div class="box">
            {% include 'rightcol.html' %}
        </div>
    </div>
</div>
</body>
</html>
