{% extends "base.html" %}
{% import 'tags.html' as tags %}
{% block title %}Batch Info{% endblock %}

{% macro link_scan(scan) -%}
    <a href="{{url_for('scan_exec', id=scan.id)}}">{{ caller(scan) }}</a>
    {# if scan.get_common_report()==None %}
        {{ caller(scan) }}
    {% else %}
        <a href="{{url_for('report', id=scan.get_common_report().id)}}">{{ caller(scan) }}</a>
    {% endif #}
{%- endmacro %}


{% block content %}

{{ tags.batchhead(batch) }}

<div class="box">
    {{ tags.generic_report_findings(
        batch.composite_report(),True,batch) }}
</div>

<table class="table is-striped is-hoverable is-fullwidth">
    <thead>
    <tr>
<!--        <th>id</th>-->
        <th>repo</th>
        <th>commit</th>
        <th>path</th>
        <th>scanner</th>
        <th style="min-width: 250px">info</th>
        <th>#err</th>
    </tr>
    </thead>
    <tbody>

    {% for scan in batch.scans %}

    <tr>
            {% for value in [scan.repo, scan.commit, scan.path, scan.scanner] %}
            <td>
                {% call(inner) link_scan(scan) %}
                    {{value}}
                {% endcall %}
            </td>
            {% endfor %}
            <td>
                {% call(inner) link_scan(scan) %}
                <abbr title="{{scan.get_common_report().vulnlist}}">
                    {% if inner.get_common_report()!=None %}
                    {{ tags.vulntag(inner.scanner,
                                inner.get_common_report().vulnstats) }}
                    {% endif %}
                </abbr>
                {% endcall %}
            </td>
            <td>
                {% call(inner) link_scan(scan) %}
                <abbr title="{{inner.errors}}">{{'Some' if inner.errors!=None else '-'}}</abbr>
                {% endcall %}
            </td>
    </tr>
    {% endfor %}

    </tbody>
</table>


{% endblock %}
