{% extends "base.html" %}
{% import 'tags.html' as tags %}
{% block title %}Batch Info{% endblock %}

{% macro link_scan(scan) -%}
    <a href="{{url_for('scan_exec', id=scan.id)}}">{{ caller(scan) }}</a>
    {# if scan.report==None %}
        {{ caller(scan) }}
    {% else %}
        <a href="{{url_for('report', id=scan.report.id)}}">{{ caller(scan) }}</a>
    {% endif #}
{%- endmacro %}


{% block content %}

{{ tags.batchhead(batch) }}
<table class="table is-striped is-hoverable is-fullwidth">
    <thead>
    <tr>
<!--        <th>id</th>-->
        <th>repo</th>
        <th>commit</th>
        <th>path</th>
        <th>scanner</th>
        <th style="min-width: 250px">info</th>
        <th>#err</th>
    </tr>
    </thead>
    <tbody>

    {% for scan in batch.scans %}

    <tr>
            {# scan.id,  #}
            {% for value in [scan.repo, scan.commit, scan.path, scan.scanner] %}
            <td>
                {% call(inner) link_scan(scan) %}
                    {{value}}
                {% endcall %}
            </td>
            {% endfor %}

<!--            <th>-->
<!--                {% call(inner) link_scan(scan) %}-->
<!--                    {{inner.id}}-->
<!--                {% endcall %}-->
<!--            </th>-->
<!--            <td>-->
<!--                {% call(inner) link_scan(scan) %}-->
<!--                    {{inner.repo}}-->
<!--                {% endcall %}-->
<!--            </td>-->
<!--            <td>-->
<!--                {% call(inner) link_scan(scan) %}-->
<!--                    {{inner.commit}}-->
<!--                {% endcall %}-->
<!--            </td>-->
<!--            <td>-->
<!--                {% call(inner) link_scan(scan) %}-->
<!--                    {{inner.path}}-->
<!--                {% endcall %}-->
<!--            </td>-->
<!--            <td>-->
<!--                {% call(inner) link_scan(scan) %}-->
<!--                    {{inner.scanner}}-->
<!--                {% endcall %}-->
<!--            </td>-->
            <td>
                {% call(inner) link_scan(scan) %}
                <abbr title="{{scan.report.vulnlist}}">
                    {% if inner.report!=None %}
                    {{ tags.vulntag(inner.scanner, inner.report.vulnstats) }}
                    {% endif %}
                </abbr>
                {% endcall %}
            </td>
            <td>
                {% call(inner) link_scan(scan) %}
                <abbr title="{{inner.errors}}">{{'Some' if inner.errors!=None else '-'}}</abbr>
                {% endcall %}
            </td>
    </tr>
    {% endfor %}

    </tbody>
</table>


{% endblock %}
