{% extends "base.html" %}
{% block title %}Build test scanner{% endblock %}


{% block content %}
<h1>Setup Page - Confirm Action</h1>

<hr/>

<form method="post">

    <div class="field">
  <label class="label"> Accept to {{ action }} {{ scanner }} scanner?</label>
</div>

    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link">Yes</button>
        </div>
        <div class="control">
            <button class="button is-link is-light">No</button>
        </div>
    </div>

</form>
{% endblock %}
