{% extends "base.html" %}
{% block title %}Create Batch{% endblock %}
{% block content %}
<script>
    function doblesplit(st) {
        if (st.indexOf(',')>=0) { return st.split(','); }
        if (st.indexOf('\r\n')>=0) { return st.split('\r\n'); }
        return [st];
    }
    function update_enqueue_button_state() {
        var btn = document.getElementById("enqueue");
        const current = document.getElementById('tasks').value;
        console.log(`state: "${current}" / ${current===""}`);
        //btn.disabled = current==="";
    }
    function reset() {
        //alert("reset()");
        document.getElementById('tasks').value = "";
        update_enqueue_button_state();
    }
    function generate(_reset) {
        //alert("generate("+ _reset+ ")");
        //event.preventDefault();
        var scanners = [];
        const el_repo = document.getElementById("repo");
        const el_commit = document.getElementById("commit");
        const el_paths = document.getElementById("paths");
        for (scanner of ["scout", "test"]) {
            const el = document.getElementById(scanner+"_scanner"); //id="scout_scanner"
            if (el.checked) {
                scanners.push(scanner);
            }
        }
        const repos = doblesplit(el_repo.value);
        const commits = doblesplit(el_commit.value);
        const paths = doblesplit(el_paths.value);
        const batch = [];
        for (const repo of repos) {
            for(const commit of commits) {
                for(const path of paths) {
                    for(const scanner of scanners) {
                        batch.push([repo, commit, path, scanner].join(','));
                    }
                }
            }
        }
        console.log("reseT:", _reset);
        if (_reset) {
            reset();
        }
        const newline = '\r\n';
        const current = document.getElementById('tasks').value;
        const newdefs = batch.join(newline);
        document.getElementById('tasks').value = current===""?newdefs:(current+newline+newdefs);
        update_enqueue_button_state();
    }
</script>

<h1 class="subtitle is-4">Create a new batch</h1>
<h1 class="subtitle is-5 has-text-centered">Batch to execute</h1>

<form method="post">
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Name</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input class="input" id="batch"
                           name="batch" placeholder="batch's name" type="text">
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">From</label>
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control is-expanded has-icons-left">
                    <input class="input" id=placeholder="Name"
                           name="from" type="text">
                    <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
                </p>
            </div>
            <div class="field">
                <p class="control is-expanded has-icons-left has-icons-right">
                    <input class="input" name="email" placeholder="Email" type="email"
                           value="drunner@coinfabrik.com">
                    <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                    <span class="icon is-small is-right"><i class="fas fa-check"></i></span>
                </p>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Comments</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <textarea class="textarea" name="comments" placeholder="add comments to execution"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Definitions</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <textarea class="textarea" id="tasks" name="tasks"
                              placeholder="repo,commit,path,scanner"></textarea>
                </div>
            </div>
        </div>
    </div>


    <div class="field is-horizontal">
        <div class="field-label">
            <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
            <div class="field is-grouped">
                <div class="control">
                    <button id="enqueue" class="button is-primary">Enqueue</button>
                </div>
                <div class="control">
                    <button type="other" onclick="reset(); return false;" class="button is-warning">Reset definitions</button>
                </div>
            </div>
        </div>
    </div>

    <br/>
    <div class="box">
        <h1 class="subtitle is-5 has-text-centered">Generate test combinations</h1>
        {% include "create_dot_product.html" %}
    </div>

</form>
{% endblock %}
