<div class="buttons">
    {% for _str, link_button, btn_type, extra in [
        ('Rebuild Reports', 'rebuild_reports', 'link', {}),
        ('Update Scout', 'update', 'link', {'scanner':'scout'}),
        ('Add Repo Key', 'addsite', 'danger', {}),
        ('Build Test', 'build', 'danger', {'scanner':'test'}),
    ] %}
    <a class="button is-small is-responsive is-{{btn_type}} is-dark"
       href="{{ url_for(link_button, **extra) }}">
        {{_str}}
    </a>
    {% endfor %}
</div>

<hr/>

<div class="tags">
    {% for scan in scans %}
    <div class="control">
        <a class="tags has-addons is-hoverable" href="{{ url_for('scan_exec', id=scan['id']) }}">
        <span class="tag is-dark"><abbr
                title="{{ scan['timestamp'] }}">{{ short_date(scan['timestamp']) }}</abbr> </span>
        <span class="tag is-dark"><abbr title="{{ scan['repo']}}">{{ short_repo(scan['repo']) }}</abbr></span>
        <span class="tag is-info">{{ scan['scanner'] }}</span>
        </a>
    </div>
    {% endfor %}
</div>
<br/>
