<div class="buttons">
    {% for link_button in ['addsite', 'buildtest'] %}
    <a class="button is-small is-responsive is-primary is-dark" href="{{ url_for(link_button) }}">
        {{link_button}}
    </a>
    {% endfor %}
</div>

<hr/>

<div class="tags">
    {% for scan in scans %}
    <div class="control">
        <a class="tags has-addons is-hoverable" href="{{ url_for('scan_exec', id=scan['id']) }}">
        <span class="tag is-dark"><abbr
                title="{{ scan['timestamp'] }}">{{ short_date(scan['timestamp']) }}</abbr> </span>
        <span class="tag is-dark"><abbr title="{{ scan['repo']}}">{{ short_repo(scan['repo']) }}</abbr></span>
        <span class="tag is-info">{{ scan['scanner'] }}</span>
        </a>
    </div>
    {% endfor %}
</div>
<br/>
