{% extends "base.html" %}
{% import 'tags.html' as tags %}

{% block title %}Scan{% endblock %}


{% block content %}
<script>
    function update_progress() {
        let stop = true;
        const els = document.getElementsByTagName("progress");
        for(const el of els) {
            if (el.value===9999) { continue; }
            const started = Number.parseFloat(el.getAttribute("started"));
            const d = (new Date()).valueOf()/1000;
            el.value = d-started;
            if (el.value>=el.max) { el.value=9999;} else {stop=false;}
        }
        if(!stop) {
            setTimeout(update_progress, 100);
        }
    }
    setTimeout(update_progress, 100);
</script>


<h1>Scan execution</h1>

<!--<fieldset disabled>-->

{% for field_name, (field_value, is_static, custom_type) in exec_fields.items() %}
<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">{{ field_name}}</label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                {% if custom_type %}
                <input readonly class="input {{'is-static' if is_static else ''}}"
                       id="batch" name="batch"
                       type="{{custom_type}}" value="{{ field_value }}">
                {% else %}
                <input readonly class="input {{'is-static' if is_static else ''}}"
                       id="batch" name="batch"
                       type="text" value="{{ field_value }}">
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}

<div class="box">
    {{ tags.generic_report(scan.report) }}
</div>

{% for rndId, exec in reversed(list(enumwid(scan.execs))) %}
<div class="box">

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Command</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control is-expanded">
                    <input readonly class="input is-static" type="text" value="{{ ' '.join(json.loads(exec.cmdargs)) }}">
                </div>
            </div>
            {% if exec.duration==None %}
                    <div class="field">
                        <div class="control is-expanded">
                            <input readonly style="max-width:70px"  class="input" type="text" value="{{ exec.elapsed() }}">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control is-expanded">
                                <progress id="progress-{{exec.id}}" class="progress is-info" started="{{exec.timestamp.timestamp()}}"
                                      value="0" max="{{exec.avg_duration()}}">-</progress>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control is-expanded">
                            <input style="max-width:70px" class="input" type="text" value="{{ exec.avg_duration() }}">
                        </div>
                    </div>
            {% else %}
                    <div class="field">
                        <div class="control is-expanded">
                            <input readonly size="10"
                                   class="input is-static" type="text" value="{{ exec.duration }} sec" readonly>
                        </div>
                    </div>
            {% endif %}
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Output</label>
            {{ tags.form_ta_buttons(rndId) }}
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
        <textarea id="{{ rndId }}" readonly
                  url="{{url_for('get_exec_output', id=exec.id)}}"
                  fname="{{exec.get_output_fname()}}"
                  class="textarea is-family-code"
                  rows="{{min(50, 1+len(exec.output_line))}}"
                  {#style="white-space: nowrap;  overflow: auto;"#}
        >{%- for line in exec.output_line -%}
{{ line.line+"\r\n" }}
{%- endfor -%}</textarea>
                </div>
            </div>
        </div>
    </div>

</div>
{% endfor %}


<div class="box">
{{ tags.form_ta('Error', scan.errors, funcs) }}

{% for report in scan.reports %}
{% if report.is_raw %}
{{ tags.form_ta_wButtons('Raw report', report.content, funcs,
    url_for('report_download', id=report.id)) }}
{% endif %}
{% endfor %}
</div>


<!--</fieldset>-->

{% endblock %}
