{% extends "base.html" %}
{% import 'tags.html' as tags %}

{% block title %}Scan{% endblock %}


{% block content %}
<script>
    function update_progress() {
        let stop = true;
        const els = document.getElementsByTagName("progress");
        for(const el of els) {
            if (el.value===9999) { continue; }
            const started = Number.parseFloat(el.getAttribute("started"));
            const d = (new Date()).valueOf()/1000;
            el.value = d-started;
            if (el.value>=el.max) { el.value=9999;} else {stop=false;}
        }
        if(!stop) {
            setTimeout(update_progress, 100);
        }
    }
    setTimeout(update_progress, 100);
</script>


<h1>Scan execution</h1>

<!--<fieldset disabled>-->

{% for field_name, (field_value, is_static, custom_type) in exec_fields.items() %}
<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">{{ field_name}}</label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                {% if custom_type %}
                <input readonly class="input {{'is-static' if is_static else ''}}"
                       id="batch" name="batch"
                       type="{{custom_type}}" value="{{ field_value }}">
                {% else %}
                <input readonly class="input {{'is-static' if is_static else ''}}"
                       id="batch" name="batch"
                       type="text" value="{{ field_value }}">
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}

<div class="box">
    {{ tags.generic_report(scan.get_common_report()) }}
</div>

{% for rndId, exec in reversed(list(enumwid(scan.execs))) %}
    {% include "_exec.jinja" %}
{% endfor %}


<div class="box">
{{ tags.form_ta('Error', scan.errors, funcs) }}

{% for report in scan.reports %}
{% if report.is_raw %}
{{ tags.form_ta_wButtons('Raw report', report.content, funcs,
    url_for('report_download', id=report.id)) }}
{% endif %}
{% endfor %}
</div>


<!--</fieldset>-->

{% endblock %}
