{% macro vulntag(scanner, vulnsdict) -%}
<div class="control">
    <div class="tags has-addons">
        <span class="tag is-hoverable is-link">{{vulnsdict.sum()}}</span>
        <span class="tag is-hoverable is-dark">{{scanner}}</span>
        <span class="tag is-hoverable is-info">{{vulnsdict['Enhancement']}}</span>
        <span class="tag is-hoverable is-success">{{vulnsdict['Low']}}</span>
        <span class="tag is-hoverable is-warning">{{vulnsdict['Medium']}}</span>
        <span class="tag is-hoverable is-danger">{{vulnsdict['High']}}</span>
    </div>
</div>
{%- endmacro %}


{% macro batchhead(batch=None,editable=False) -%}
{% if not editable %}
<fieldset disabled>
{% endif %}
<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">Name</label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                <input class="input" id="batch" value="{{'' if None==batch else batch.comments}}"
                       name="batch" placeholder="Name for this batch" type="text">
            </div>
        </div>
        <div class="field-label is-normal">
            <label class="label">Date</label>
        </div>
        <div class="field">
            <div class="control">
                <input class="input" id="batchts" value="{{'' if None==batch else batch.timestamp}}"
                       name="batch" placeholder="Name for this batch" type="text">
            </div>
        </div>
    </div>

</div>
<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">From</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded has-icons-left">
                <input class="input" id="name" placeholder="Name"
                       name="from" type="text" value="{{'' if None==batch else batch.author}}">
                <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
            </p>
        </div>
        <div class="field">
            <p class="control is-expanded has-icons-left has-icons-right">
                <input class="input" name="email" placeholder="Email" type="email"
                       value="{{'' if None==batch else batch.email}}">
                <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                <span class="icon is-small is-right"><i class="fas fa-check"></i></span>
            </p>
        </div>
    </div>
</div>
<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">Comments</label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                <textarea class="textarea" name="comments" placeholder="{{'' if None==batch else batch.comments}}"></textarea>
            </div>
        </div>
    </div>
</div>
{% if not editable %}
</fieldset>
{% endif %}
{%- endmacro %}


{% macro generic_report_findings(findings, includeRepo=False, batch=None) %}
    <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>Scanner</th>
            {% if includeRepo %}
            <th>Repo</th>
            <th>Contract</th>
            {% endif %}
{#          <th>Category</th>#}
          <th>Name</th>
          <th>Level</th>
          <th>Filename

          {% if includeRepo %}
    <a class="button is-small is-responsive is-info is-dark"
       href="{{ url_for('batch_composite', id=batch.id) }}">
        download
    </a>
          {% endif %}

          </th>
        </tr>
      </thead>
      <tbody>

    {% if includeRepo %}
        {% for scan,finding in findings %}
            <tr>
              <th>{{finding.scanner}}</th>
              <th>{{scan.repo}}</th>
              <th>{{scan.path}}</th>
              <td>{{finding.name}}</td>
              <td>{{finding.level}}</td>
              <td>{{finding.filename}}:{{finding.lineno}}</td>
            </tr>
        {% endfor %}

    {% else %}
        {% for finding in findings %}
            <tr>
              <th>{{finding.scanner}}</th>
              <td>{{finding.name}}</td>
              <td>{{finding.level}}</td>
              <td>{{finding.filename}}:{{finding.lineno}}</td>
            </tr>
        {% endfor %}
    {% endif %}


      </tbody>
    </table>
{%- endmacro %}


{% macro generic_report(report) -%}
{% if report==None %}
No - report
{% else %}
    <h1>Report: {{ report.data['name'] }} / {{ report.data['date'] }} </h1>
    {{ report.data['issuer'] }} <br/>
    {{ report.data['scanners'] }}<br/>
    {{ report.data['composite'] }}<br/>
    <br/>
    {{ generic_report_findings(report.findings)  }}
{% endif %}

{%- endmacro %}



{% macro form_ta(label, content, funcs) -%}
<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">{{ label }}</label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control">
            {% if content==None %}
                <input readonly class="input is-static"
                       type="text" value="-" readonly>
            {% else %}
            <textarea class="textarea" name="tasks"
              rows="{{funcs.min(50, 2+funcs.lines(content))}}">{{ content }}</textarea>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{%- endmacro %}


{% macro form_ta_buttons(rndId) -%}
<div class="buttons is-right">
    <button onclick="copy('{{rndId}}')" class="button is-small">
        <span class="icon is-small"><i class="fas fa-copy"></i></span>
    </button>
    <button onclick="download('{{rndId}}')" class="button is-small">
        <span class="icon is-small"><i class="fas fa-download"></i></span>
    </button>
</div>
{%- endmacro %}



{% macro form_ta_wButtons(label, content, funcs, url) -%}
{% set rndId = funcs.mkrand() %}
<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">{{ label }}</label>
        {{ form_ta_buttons(rndId) }}
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control">
        <textarea class="textarea" url='{{url}}'
                  fname='raw-report.json' name="tasks" id="{{rndId}}" wrap="off"
                  rows="{{funcs.min(50, 2+funcs.lines(content))}}">{{ content }}</textarea>
            </div>
        </div>
    </div>
</div>
{%- endmacro %}

